@using System.IO;
@{
	Layout = "~/_layout.cshtml";
	Page.Title = "Visual Studio Image List";
	Page.Description = "This website shows the images contained in Visual Studio's IVsImageService";
}

@{
	var folder = Directory.EnumerateFiles(Server.MapPath("~/img/images"));
	char letter = 'A';
	int count = 0;
	<h3 id="a"><a href="#a">A</a></h3>
	@Html.Raw("<ul class=\"images\">")
	foreach (FileInfo info in folder.Select(f => new FileInfo(f)))
	{
		if (info.Name[0] != letter)
		{
			count = 0;
			letter = info.Name[0];
			@Html.Raw("</ul>")
			<h3 id="@info.Name[0].ToString().ToLowerInvariant()"><a href="#@info.Name[0].ToString().ToLowerInvariant()">@info.Name[0]</a></h3>
			@Html.Raw("<ul class=\"images\">")
		}
		<li><span style="background-image: url('/img/images/_sprites/@(letter).png'); background-position: 0px -@(count)px"></span> @Path.GetFileNameWithoutExtension(info.Name)</li>
		count += 16;
	}
}