@using System.IO;
@{
	Layout = "~/_layout.cshtml";
	Page.Title = "Visual Studio Image List";
	Page.Description = "This website shows the images contained in Visual Studio's IvsImageService";
}

@{
	var folder = Directory.EnumerateFiles(Server.MapPath("~/img/images"));
	char letter = '0';
	foreach (FileInfo info in folder.Select(f => new FileInfo(f)))
	{
		if (info.Name[0] != letter)
		{
			if (letter != '0')
			{
				@Html.Raw("</ul>")
			}
			<h3 id="@info.Name[0].ToString().ToLowerInvariant()"><a href="#@info.Name[0].ToString().ToLowerInvariant()">@info.Name[0]</a></h3>
			@Html.Raw("<ul class=\"images\">")
		}
		<li><img src="/img/loading.gif" data-lazy="/img/images/@info.Name" alt="" /> @Path.GetFileNameWithoutExtension(info.Name)</li>
		if (info.Name[0] != letter)
		{

			letter = info.Name[0];
		}
	}
}